{% extends 'core/base.html' %}

{% block content %}
<h4>Editar Solicitud de Incidencia #{{ solicitud.solicitud_incidencia_id }}</h4>

{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    
    {{ form.as_p }}
    <div>
    <label for="comentario">Comentario extra:</label>
    <textarea name="comentario" id="comentario" style="white-space: pre-wrap; overflow-wrap: break-word;" rows='2' cols='50'  placeholder='Opcional para documentar el cambio de estado de la solicitud.'>{{ request.POST.comentario|default_if_none:'' }}</textarea>
    
    </div>
    <div>
    <button type="submit" class="btn btn-warning">Actualizar</button>
    
    <a href="{% url 'solicitud_listar' %}" class="btn btn-secondary">Cancelar</a></div>
</form>
{% endblock %}