{% extends 'core/base.html' %}

{% block content %}
<h2>Listado de Usuarios</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for u in usuarios %}
      <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>
          <a href="#" class="btn btn-sm btn-primary">Ver</a>
          <a href="#" class="btn btn-sm btn-warning">Editar</a>
          <a href="#" class="btn btn-sm btn-danger">Bloquear</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
