:root {
    --color-main: #F9B17A;
    --color-main-hover: #E8A361;

    --color-volver: #424769;
    --color-volver-hover: #232b73;
}
.btn-accion {
    border-radius: 6px;
    font-weight: 500;
    color: white ;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: 1px solid transparent;
    --bs-btn-color: white;
}
.btn-crear {
    background-color: var(--color-main) !important;
    border-color: var(--color-main) !important;
    --bs-btn-bg: var(--color-main) !important;
    --bs-btn-border-color: var(--color-main) !important;
    --bs-btn-hover-bg: var(--color-main-hover) !important;
    --bs-btn-hover-border-color: var(--color-main-hover) !important;
}
.btn-crear:hover {
    background-color: var(--color-main-hover) !important;
    border-color: var(--color-main-hover) !important;
}
.btn-editar {
    background-color: var(--color-main) !important;
    border-color: var(--color-main) !important;
    --bs-btn-bg: var(--color-main) !important;
    --bs-btn-border-color: var(--color-main) !important;
    --bs-btn-hover-bg: var(--color-main-hover) !important;
    --bs-btn-hover-border-color: var(--color-main-hover) !important;
}
.btn-editar:hover {
    background-color: var(--color-main-hover) !important;
    border-color: var(--color-main-hover) !important;
}
.btn-eliminar {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
    --bs-btn-bg: #d9534f !important;
    --bs-btn-border-color: #d9534f !important;
    --bs-btn-hover-bg: #c94440 !important;
    --bs-btn-hover-border-color: #c94440 !important;
}
.btn-eliminar:hover {
    background-color: #c94440 !important;
    border-color: #c94440 !important;
}
.btn.btn-volver {
    --bs-btn-bg: var(--color-volver) ;
    --bs-btn-border-color: var(--color-volver) ;
    --bs-btn-color: white ;

    --bs-btn-hover-bg: var(--color-volver-hover) ;
    --bs-btn-hover-border-color: var(--color-volver-hover) ;

    background-color: var(--color-volver) ;
    border-color: var(--color-volver) ;
    color: white ;
}
.btn.btn-volver:hover {
    background-color: var(--color-volver-hover) ;
    border-color: var(--color-volver-hover) ;
    color: white ;
}

.btn.btn-volver i {
    color: white ;
}
