{% extends 'core/base.html' %}

{% block content %}
<h4>Listar Departamentos</h4>

<p><a href="{% url 'departamento_crear' %}" class="btn">Crear Nuevo Departamento</a></p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.departamento_id }}</td>
                <td>{{ departamento.nombre }}</td>
                <td>{{ departamento.direccion.nombre }}</td>
                <td>{{ departamento.estado }}</td>
                <td>
                    <a href="{% url 'departamento_ver' departamento.departamento_id %}" class="btn btn-sm btn-outline-primary">Ver</a>
                        <a href="{% url 'departamento_editar' departamento.departamento_id %}" class="btn btn-sm btn-outline-primary">Editar</a>
                    {% if departamento.estado == 'Activo' %}
                        <form method="post" action="{% url 'departamento_bloquea' departamento.departamento_id %}"style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-primary">Bloquear</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'departamento_desbloquea' departamento.departamento_id %}"style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-primary">Desbloquear</button>
                        </form>
                    {% endif %}
                    <form method="post" action="{% url 'departamento_elimina' departamento.departamento_id %}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este de?');"style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-primary">Eliminar</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No hay departamentos registrados.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if departamentos.has_other_pages %}
    <div class="pagination">
        {% if departamentos.has_previous %}
            <a href="?page={{ departamentos.previous_page_number }}">&laquo; Anterior</a>
        {% endif %}
        
        {% for num in departamentos.paginator.page_range %}
            {% if departamentos.number == num %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if departamentos.has_next %}
            <a href="?page={{ departamentos.next_page_number }}">Siguiente &raquo;</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
