{% extends 'core/base.html' %}

{% block content %}
<h4>Listar Departamentos</h4>

<p><a href="{% url 'departamento_crear' %}" class="btn">Crear Nuevo Departamento</a></p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Estado</th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.departamento_id }}</td>
                <td>{{ departamento.nombre }}</td>
                <td>{{ departamento.direccion.nombre }}</td>
                <td>{{ departamento.estado }}</td>
                <td>
                    <a href="{% url 'departamento_ver' departamento.departamento_id %}" class="btn btn-sm btn-outline-primary">Ver</a>
                    <a href="{% url 'departamento_editar' departamento.departamento_id %}" class="btn btn-sm btn-outline-warning">Editar</a>

                    {% if departamento.estado == 'Activo' %}
                        <form method="post" action="{% url 'departamento_bloquear' departamento.departamento_id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-primary">Bloquear</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'departamento_bloquear' departamento.departamento_id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-success">Activar</button>
                        </form>
                    {% endif %}

                    <form method="post" action="{% url 'departamento_eliminar' departamento.departamento_id %}" style="display:inline;" onsubmit="return confirm('¿Estás seguro de eliminar este departamento?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No hay departamentos registrados.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
